.userCard{
    background-color: #f5f5f5;
    /* background-color: black;  */
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 15px  
   }
  
.userInfo{
display: flex;
flex-direction: column;
gap: 5px;
/* background-color: black;  */
}
  